<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container">
<header>
<center>
<h1> PaperTrader </h1>
<div class="alert alert-secondary">
		Current Time:
 		<script language="javascript">
 		var today = new Date();
 		document.write(today);
		</script>
</div>
</center>
<div class="align">
	<center>
	<ul class="nav nav-pills nav-fill">
	<li class="nav-item">
	  <a class="nav-link" href="/">Stock List</a>
	</li>
	{% if user.is_superuser %}	
		<li class="nav-item">
		  <a class="nav-link" href="{% url "stock-new" %}">Add Stock</a>
		</li>
	{% endif %}
	<li class="nav-item">
	  <a class="nav-link" href="{% url "update" %}">Update View</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link active" href="#">View Portfolio</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/logout?next=/login">Logout</a>
	</li>
	</ul>
	</center>
</header>
</div>
<center>
<div>
	<h4></h4>
	<h4>{{ user }} Portfolio</h4>
</div>
</center>

<br><br>
{% load PaperTraderApp_extras %}
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Stocks</th>
			<th scope="col">Quantity</th>
			<th scope="col">Net Investment</th>
			<th scope="col">Remove</th>
		</tr>
	</thead>
	<tbody>
	
			{% for key, value in stocks.items %}
			<tr>
				<th>{{ key }}</th>
				<th>{{ value }}</th>
				<th>${{ key|mul:value }}</th>
				<th> <a type="button" class="btn btn-outline-info"  href="{% url "portfolio-remove" key=key %}">Remove</a></th>
			</tr>
			{% endfor %}
	</tbody>
</table>
