<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container">
<header>
<center>
<h1> PaperTrader </h1>
<div class="alert alert-secondary">
		Current Time:
 		<script language="javascript">
 		var today = new Date();
 		document.write(today);
		</script>
</div>
</center>
<div class="align">
	<center>
	<ul class="nav nav-pills nav-fill">
	<li class="nav-item">
	  <a class="nav-link active" href="/">Stock List</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="{% url "stock-new" %}">Add Stock</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="{% url "update" %}">Update View</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link disabled" href="#">View Portfolio</a>
	</li>
	</ul>
	</center>
</header>
</div>

<br><br>
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Stocks</th>
			<th scope="col">Balance</th>
		</tr>
	</thead>
	<tbody>
		{% for s in object_list %}
		<tr>
			<th>{{ s.id }}</th>
			<th>{{ s.stocks }}</th>
			<th>{{ s.balance }}</th>
			<th> <a type="button" class="btn btn-outline-info"  href="{% url "portfolio-remove" pk=s.id %}">Remove</a></th>
		</tr>
		{% endfor %}
	</tbody>
</table>
