<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="container">
	<div class="alert alert-danger" role="alert">
	You're about to buy a stock!
	</div>
	<form action="{% url "buy-stock-response" pk=pk %}" method="POST">
		{% csrf_token %}
	    <p>Enter the amount you wish to buy of "{{ key }}"</p>
	    <input type="number" placeholder="Amount to buy" name="amount" />
	    <input class="btn btn-outline-success" type="submit" value="Confirm"/>
	</form>
	    <a class="btn btn-outline-danger" href="{% url "portfolio" %}">Cancel</a>
</div>